{% extends 'serverproject/base.html' %}
{% load static %}

{% block title %}Shopping Cart - Bell Server{% endblock %}

{% block content %}
  <!-- Main Content -->
  <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-24">
    <div class="pt-12">
      <h1 class="text-4xl font-extrabold text-center mb-8">Shopping Cart</h1>
      <div class="text-center">
        <p class="text-xl">Your cart is currently empty.</p>
        <a href="{% url 'pricing' %}" class="btn btn-primary mt-6">Continue Shopping</a>
      </div>
    </div>
  </main>
{% endblock %}